.aboutpage {
	@include adaptiveValue("padding-top", 90, 50);
	background: rgba(0, 57, 118, 1);
	// .about__container

	&__container {
		@include adaptiveValue("padding-bottom", 80, 30);

		img {
			flex: 1 1 45%;
			filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.25));
			border-radius: 10px;
			width: 100%;
		}
	}

	// .about__title

	&__title {
		font-family: 'Banff';
		font-size: 60px;
		@include adaptiveValue("font-size", 60, 30);
		line-height: math.div(59, 60);
		color: #78DDFF;
		@include adaptiveValue("padding-top", 60, 30);
		@include adaptiveValue("margin-bottom", 80, 30);
		@include adaptiveValue("margin-left", 100, 0);

	}

	// .about__body

	&__body {
		// padding: 40px 100px;
		@include adaptiveValue("padding-top", 40, 20);
		@include adaptiveValue("padding-bottom", 40, 20);
		@include adaptiveValue("padding-right", 100, 20);
		@include adaptiveValue("padding-left", 100, 20);
		border: 1px solid #78DDFF;
		font-weight: 400;
		font-size: 20px;
		@include adaptiveValue("font-size", 20, 14);
		line-height: math.div(28, 20);
		color: $whiteColor;
		@include adaptiveValue("margin-bottom", 80, 30);
	}

	// .about__content

	&__content {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		@include adaptiveValue("margin-bottom", 60, 30);

		img {
			flex: 1 1 45%;
			filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.25));
			border-radius: 10px;

			&:first-child {
				margin-right: 50px;

				@media (max-width: em(1047)) {
					margin-right: 0;
					margin-bottom: 20px;
					order: 2;
				}
			}
		}

		&-block {
			flex: 1 1 42%;

			&:first-child {
				margin-right: 50px;

				@media (max-width: em(1047)) {
					margin-right: 0;
				}
			}


		}
	}

	// .about__content-text

	&__content-text {
		font-weight: 400;
		@include adaptiveValue("font-size", 20, 14);
		line-height: math.div(26, 20);
		color: #FFFFFF;
		margin-bottom: 25px;
	}
}