//====================================================================================================
.header {
	padding: 30px 0;
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);

	@media (max-width:$tablet) {
		padding: 25px 0;
	}

	&-social {
		display: none;

		@media (max-width:$mobile) {
			margin-top: 30px;
			display: inline-block;
		}
	}

	// .header__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .header__actions
	&__actions {
		display: flex;
		z-index: 10;


		@media (max-width:$mobile) {
			// margin-top: 30px;
			// border-top: 1px solid #ededed;
			// border-bottom: 1px solid #ededed;
			// padding: 13px 0;
			// font-size: 26px;
			display: none;
		}

		&-button {
			margin-top: 20px;
			background: #43d854;
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
			border-radius: 100px;
			color: $whiteColor;
			padding: 20px 25px;
			font-size: 15px;
			transition: background 0.3s ease 0s;

			&:hover {
				background: #76d854;
			}

			@media (min-width:$mobile) {
				display: none;
			}

			&::before {
				margin-right: 10px;
			}

		}
	}

	// .header__phone
	&__phone {
		z-index: 5;
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: bold;
		transition: color 0.3s ease 0s;

		&:hover {
			color: #000000;
		}

		&::before {
			margin-right: 8px;
			font-size: 16px;

		}
	}
}

.menu {

	// .menu__body
	&__body {
		@media (max-width:$tablet) {
			position: fixed;
			width: 100%;
			height: 100vh;
			top: 68px;
			left: -100%;
			overflow: auto;
			background: rgba(255, 255, 255, 1);
			padding: 40px 20px;
			z-index: 4;
			transition: all 0.3s ease 0s;

			.menu-open & {
				left: 0;
			}

			&::before {
				content: '';
				position: absolute;
				position: fixed;
				height: 70px;
				width: 100%;
				top: 0px;
				left: 0;
				z-index: 50;
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;

		@media (max-width:$tablet) {
			flex-direction: column;
			align-items: flex-start;
		}

	}

	// .menu__item
	&__item {
		font-weight: 400;
		font-size: 15px;
		transition: color 0.3s ease 0s;
		position: relative;
		font-weight: 500;
		color: $mainColor;

		@media (max-width:$tablet) {
			margin-bottom: 30px;
			font-size: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}


		&:not(:last-child) {
			margin-right: 50px;
		}

		&:hover {
			color: #000000;
		}

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: -10px;
			left: 0;
			width: 0px;
			height: 2px;
			background-color: $yellowColor;
			transition: width 0.3s ease 0s;
		}

		&:hover::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: -10px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $yellowColor;
		}

	}

	// .menu__link
	&__link {}
}

.menu__item-page {
	color: #fff;

	&:hover {
		color: #fff;
	}

	@media (max-width:$tablet) {
		color: $mainColor;

		&:hover {
			color: $mainColor;
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #013A7A;
		}

		&-page {

			span,
			&::before,
			&::after {
				content: "";
				transition: all 0.3s ease 0s;
				right: 0;
				position: absolute;
				width: 100%;
				height: rem(2);
				background-color: #fff;
			}
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

// волна ========================================================================================================================================================
@media (max-width:$tablet) {

	/* waves */
	.ocean {
		height: 80px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		overflow-x: hidden;
	}

	.wave {
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
		position: absolute;
		width: 200%;
		height: 100%;
		animation: wave 10s -3s linear infinite;
		transform: translate3d(0, 0, 0);
		opacity: 0.8;
	}

	.wave:nth-of-type(2) {
		bottom: 0;
		animation: wave 18s linear reverse infinite;
		opacity: 0.5;
	}

	.wave:nth-of-type(3) {
		bottom: 0;
		animation: wave 20s -1s linear infinite;
		opacity: 0.5;
	}

	@keyframes wave {
		0% {
			transform: translateX(0);
		}

		50% {
			transform: translateX(-25%);
		}

		100% {
			transform: translateX(-50%);
		}
	}

}