//====================================================================================================
.main {
	position: relative;
	height: rem(820);

	@media (max-width:$tablet) {
		height: 400px;
	}

	// .main__container
	&__container {}

	// .main__body
	&__body {
		z-index: 2;
	}

	// .main__title
	&__title {
		font-family: 'Banff';
		@include adaptiveValue("font-size", 60, 40);
		line-height: math.div(59, 60);
		color: #FFFFFF;
		position: relative;
		@include adaptiveValue("padding-top", 180, 90);
		@include adaptiveValue("padding-bottom", 296, 60);
		max-width: rem(850);
		z-index: 2;
	}

	// .main__form
	&__form {
		position: relative;
		z-index: 2;
		background: #013A7A;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		@include adaptiveValue("padding-top", 40, 20);
		@include adaptiveValue("padding-right", 100, 20);
		@include adaptiveValue("padding-bottom", 40, 20);
		@include adaptiveValue("padding-left", 100, 20);
	}

	// .main__group
	&__group {
		min-width: 17%;
		margin-bottom: 20px;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

		@media (max-width:$tablet) {
			flex: 1 1 auto;
			margin-right: 20px;

			&:nth-child(2) {
				margin-right: 0;
			}
		}

		@media (max-width:$mobile) {
			flex: 1 1 100%;
			margin-right: 0;
		}


	}

	// .main__label
	&__label {
		font-weight: 500;
		font-size: 15px;
		color: $whiteColor;
		margin-bottom: 10px;
		display: block;
		margin-left: 2px;
	}

	// .main__input
	&__input {
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		border: none;
		height: rem(60);
		color: #FFFFFF;
		width: 100%;

		@media (max-width:$mobile) {
			height: rem(40);
			border-radius: 5px;
		}
	}

	// .main__button
	&__button {
		display: block;
		margin: auto;

	}

	// .main__image-ibg
	&__image-ibg {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

::placeholder {
	color: #fff;
}

.form-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;

	// flex-wrap: wrap;
	@media (max-width:$tablet) {
		flex-wrap: wrap;
	}
}

// advantage ===========================================================================================
.advantage {

	// .advantage__container
	&__container {}

	// .advantage__body
	&__body {
		@include adaptiveValue("margin-top", 100, 30);
		@include adaptiveValue("margin-bottom", 100, 30);
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	// .advantage__item
	&__item {
		position: relative;
		flex: 0 0 rem(372);
		// max-width: rem(372);
		border: 3px solid #78DDFF;
		border-radius: 10px;
		padding: 16px 80px;
		margin-right: 20px;
		margin-bottom: 30px;

		@media (max-width:$tablet) {
			flex: 1 1 100%;
			margin-right: 0;
		}

		&-image {
			display: block;
			width: 120px;
			height: 120px;
			margin: auto;
			margin-bottom: 25px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		&-icon {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

			@media (max-width: em(1229)) {
				display: none;
			}

			&>img {
				content: '';
				position: absolute;
				width: 45px;
				height: 100%;
				top: 0;
				// transform: translate(0, -50%);
				right: -13%;
			}

		}
	}

	// .advantage__item-title
	&__item-title {
		font-weight: 600;
		@include adaptiveValue("font-size", 17, 14);
		line-height: math.div(21, 17);
		text-align: center;
		position: relative;
		margin-top: 10px;
		color: $whiteColor;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: -10px;
			left: 50%;
			transform: translateX(-50%);
			width: 196px;
			height: 1px;
			background-color: #78DDFF;
		}
	}
}

// hotelhit ========================================================================================================================================================
.hotelhit {
	@include adaptiveValue("margin-bottom", 100, 30);

	// .hotelhit__container
	&__container {}

	// .hotelhit__title
	&__title {
		margin-bottom: 8px;
	}

	// .hotelhit__subtitle
	&__subtitle {
		margin-bottom: 40px;
	}

	// .hotelhit__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		@media (max-width:$mobile) {
			justify-content: center;
		}
	}

	// .hotelhit__body-item
	&__body-item {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-end;
		flex: 0 0 rem(270);
		min-height: 270px;
		border-radius: 10px;
		margin-bottom: 30px;
		margin-right: 20px;
		box-shadow: 0px 4px 20px #78DDFF;
		border-radius: 10px;
		transition: box-shadow 0.3s ease 0s;

		@media (max-width:$mobile) {
			margin: 0 10px 20px 0;
		}

		&:hover {
			box-shadow: 0px 4px 10px #78DDFF;
		}

		&__image {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

			img {
				border-radius: 10px;
			}
		}
	}

	// .hotelhit__body-content
	&__body-content {
		position: relative;
		width: 100%;
		height: 104px;

		&__image {
			content: '';
			position: absolute;
			width: 100%;
			height: 104px;
			bottom: 0;
			left: 0;
			z-index: 2;
		}
	}

	// .hotelhit__body-content-text
	&__body-content-text {
		position: relative;
		z-index: 3;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transform: translate(10px, 0);
			background: url(../img/hotelhit/sun.png) left bottom no-repeat;
		}
	}

	// .hotelhit__body-content-title
	&__body-content-title {
		margin-top: 20px;
		font-weight: 600;
		font-size: 15px;
		line-height: math.div(18, 15);
		text-align: center;
		color: $whiteColor;
		margin-bottom: 15px;
	}

	// .hotelhit__body-content-buttom
	&__body-content-buttom {
		background: linear-gradient(0deg, #FFF200, #FFF200);
		box-shadow: 0px 7px 35px #FFF201;
		border-radius: 110px;
		padding: 10px 15px;
		font-weight: 600;
		font-size: 13px;
		color: #313131;
		display: block;
		width: 118px;
		margin: auto;
		text-align: center;
		z-index: 3;
		position: relative;
		transition: box-shadow 0.3s ease 0s;

		&:hover {
			box-shadow: 0px 7px 25px #FFF201;
		}
	}
}


// travel ========================================================================================================================================================

.travel {
	@include adaptiveValue("padding-top", 40, 30);
	@include adaptiveValue("padding-bottom", 40, 30);
	background: #78DDFF;

	// .travel__container
	&__container {}

	// .travel__body
	&__body {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	// .travel__content
	&__content {
		flex: 0 0 rem(520);
		position: relative;

		@media (max-width: em(1062)) {
			flex: 1 1 auto;
		}
	}

	// .travel__content-title
	&__content-title {
		font-family: 'Banff';
		font-weight: 400;
		@include adaptiveValue("font-size", 40, 30);
		line-height: math.div(39, 40);
		color: #000000;
		@include adaptiveValue("margin-bottom", 30, 20);
	}

	// .travel__content-text
	&__content-text {
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div(24, 20);
		color: #000000;
	}

	&__button {
		margin-top: 20px;
	}

	// .travel__content-label
	&__content-label {
		content: '';
		position: absolute;
		bottom: rem(-70);
		right: rem(-140);

		@media (max-width: em(1062)) {
			right: rem(0);
		}

		@media (max-width:$mobile) {
			display: none;
		}
	}

	// .travel__content-label-text
	&__content-label-text {
		font-weight: 500;
		font-size: rem(16);
		margin-bottom: 8px;
		color: #000000;
		margin-left: 15px;

		@media (max-width: em(1062)) {
			margin-left: 0;
		}
	}

	// .travel__content-label-img
	&__content-label-img {
		width: rem(80);
		height: rem(80);

		img {
			width: 100%;
		}
	}

	// .travel__images

	&__images {
		position: absolute;
		width: 535px;
		height: 403px;
		top: rem(-60);
		right: rem(-50);

		img {
			width: 100%;
		}

		@media (max-width: em(1062)) {
			display: none;
		}
	}
}

// hotel ========================================================================================================================================================
.hotel {
	@include adaptiveValue("margin-top", 100, 30);
	@include adaptiveValue("margin-bottom", 100, 30);

	// .hotel__container
	&__container {}

	// .hotel__title
	&__title {
		@include adaptiveValue("margin-bottom", 40, 20);
	}

	// .hotel__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		@media (max-width:$tablet) {
			justify-content: center;
		}
	}

	&__button {
		display: block;
		width: rem(265);
		margin: auto;
		text-align: center;
		font-size: 17px;
		font-weight: 700;
		@include adaptiveValue("margin-top", 20, 10);
	}

	// .hotel__card
	&__card {
		position: relative;
		display: flex;
		align-items: flex-end;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		width: rem(260);
		height: 360px;
		margin: 0 10px 30px 10px;
		transition: box-shadow 0.3s ease 0s;

		&:hover {
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
		}

		&>img {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 10px;
			filter: contrast(100%);
			transition: filter 0.5s ease 0s;

			&:hover {
				filter: contrast(120%);
			}
		}

		&-buttom {
			display: block;
			align-items: center;
			justify-content: center;
			background: linear-gradient(0deg, #78DDFF, #78DDFF);
			box-shadow: 0px 7px 35px rgba(242, 34, 84, 0.42);
			border-radius: 110px;
			width: rem(120);
			height: rem(29);
			margin: auto;
			padding: 8px 20px;
			font-weight: 700;
			font-size: 12px;
			text-align: center;
			z-index: 2;
			position: relative;
			transition: box-shadow 0.3s ease 0s;

			&:hover {
				box-shadow: 0px 3px 5px rgb(31 1 8 / 50%);
			}
		}
	}

	// .hotel__card-content
	&__card-content {
		position: relative;
		z-index: 2;
		padding-bottom: 15px;
		background: rgba(244, 163, 0, 1);
		clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);
		border-radius: 10px;
		padding-top: 25px;
	}
}

.content-card-title {
	position: relative;
	font-weight: 700;
	font-size: 15px;
	text-align: center;
	line-height: math.div(18, 15);
	color: $mainColor;
}

.content-card-list {
	padding: 10px;
	position: relative;
	z-index: 2;
}

.content-card-list-item {
	display: flex;
	align-items: center;

	&:not(:last-child) {
		margin-bottom: 8px;
	}

	img {
		width: rem(20);
		height: rem(20);
	}
}

.content-card-list-item-text {
	font-weight: 500;
	font-size: 12px;
	line-height: math.div(15, 12);
	color: #fff;
	margin-left: 7px;
}

// experience ========================================================================================================================================================

.experience {

	// .experience__container
	&__container {}

	// .experience__title
	&__title {
		margin-bottom: 30px;
	}

	// .experience__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		@media (max-width:$tablet) {
			justify-content: center;
		}
	}

	// .experience__card
	&__card {
		flex: 1 1 rem(370);
		max-height: rem(207);
		background: #013F81;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		margin: 0 30px 30px 0;
		padding: 55px 40px;
		transition: all 0.3s ease 0s;

		&:hover {
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.55);
			transform: translateY(5px);
		}

		@media (max-width:$tablet) {
			margin-right: 0;
			padding: 30px;
		}
	}

	// .experience__card-content
	&__card-content {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;

		img {
			width: rem(70);
			height: rem(70);
		}
	}

	// .experience__card-content-label
	&__card-content-label {
		font-weight: 700;
		@include adaptiveValue("font-size", 40, 30);
		margin-left: 13px;
		color: #78DDFF;
	}

	// .experience__card-text
	&__card-text {
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div(24, 20);
		color: $whiteColor;
		text-align: center;
	}
}

// tour ========================================================================================================================================================
.tour {
	margin-top: 200px;

	// .tour__container
	&__container {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 592px;
			height: 100%;
			top: -92px;
			right: -165px;
			background: url(../img/gallery/bg-right.png) right top no-repeat;

			@media (max-width: em(1184)) {
				display: none;
			}
		}

		&::after {
			content: '';
			position: absolute;
			width: 430px;
			height: 100%;
			bottom: -240px;
			left: -115px;
			background: url(../img/gallery/bg-left.png) left bottom no-repeat;

			@media (max-width: em(1184)) {
				display: none;
			}
		}
	}

	// .tour__title
	&__title {
		@include adaptiveValue("margin-bottom", 55, 30);
	}

	// .tour__body
	&__body {
		margin-left: -15px;
		margin-right: -15px;

		@media (max-width:$tablet) {
			margin: 0;
		}
	}

	// .tour__button
	&__button {
		font-weight: 700;
		font-size: 17px;
		color: #313131;
		width: 265px;
		margin: auto;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
		z-index: 3;
	}
}

.gallery {
	// .gallery__image
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	z-index: 2;

	@media (max-width:$tablet) {
		justify-content: center;
	}

	&__image {

		margin: auto;
	}

	// .gallery__preview
	&__preview {
		// flex: 1 1 30%;
		max-width: 100%;
		height: 254px;
		margin: 0 15px 30px 15px;
		filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.5));
		border-radius: 10px;
		filter: contrast(100%);
		transition: filter 0.5s ease 0s;

		@media (max-width:$tablet) {
			flex: 1 1 100%;
			margin: 0 0 30px 0;
		}

		&:hover {
			filter: contrast(120%);
		}
	}
}

// about ========================================================================================================================================================
.about {
	margin-top: 250px;

	// .about__container
	&__container {}

	// .about__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	// .about__text
	&__text {
		flex: 0 0 549px;
		font-weight: 500;
		font-size: 15px;
		line-height: math.div(20, 15);
		color: $whiteColor;

		p {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .about__image
	&__image {
		flex: 1 1 auto;
		text-align: right;
	}
}