.hotelpage {
	background-color: #fff;
	margin-top: 80px;

	// .hotel__title
	&__title {
		color: $mainColor;
	}

	// .hotel__maps
	&__maps {
		display: flex;
		align-items: center;
		@include adaptiveValue("margin-bottom", 40, 20);

		img {
			width: rem(20);
		}
	}

	// .hotel__adress
	&__adress {
		font-weight: 400;
		@include adaptiveValue("font-size", 15, 14);
		margin-left: 5px;
	}

	// .hotel__content
	&__content {
		@include adaptiveValue("margin-top", 30, 20);
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		height: 100%;
		flex-wrap: wrap;

		@media (max-width: em(1073)) {
			display: block;
		}

		// .hotel__left
		&__left {
			grid-row-start: 1;
			grid-column-start: 1;
			grid-row-end: 2;
			grid-column-end: 2;
		}
	}

	.hotelpage__left {
		margin-bottom: 40px;
	}

	// .hotel__subtitlepage
	&__subtitlepage {
		padding-bottom: 0px;
	}

	// .hotel__left-amenities
	&__left-amenities {
		display: flex;
		align-items: center;
		margin-bottom: 0px;
		position: relative;
		font-size: 14px;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: -20px;
			left: 0;
			background-color: #949494;
		}

		span {
			font-weight: 500;
			@include adaptiveValue("font-size", 14, 12);
			text-align: center;
			line-height: math.div(19, 14);
			position: relative;

			&:not(:last-child) {
				margin-right: 10px;
				padding-right: 14px;
			}

			&:not(:last-child) {
				&::before {
					content: '';
					position: absolute;
					width: 1px;
					height: 100%;
					top: 0;
					right: 2px;
					background-color: #949494;
				}
			}
		}
	}

	// .hotel__left-text
	&__left-text {
		margin-top: 40px;
		font-weight: 500;
		@include adaptiveValue("font-size", 15, 14);
		line-height: math.div(20, 15);
		color: #000000;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: -20px;
			left: 0;
			background-color: #949494;
		}

		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	// .hotel__left-advantage
	&__left-advantage {
		margin-top: 10px;
		position: relative;

		&-subtitle {
			display: block;
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 20px;
			line-height: math.div(20, 16);
		}

		// &::before {
		// 	content: '';
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 1px;
		// 	bottom: -20px;
		// 	left: 0;
		// 	background-color: #949494b0;
		// }
	}

	// .hotel__left-advantage-item
	&__left-advantage-item {
		display: flex;
		align-items: flex-start;

		&:not(:last-child) {
			margin-bottom: rem(25);

			@media (max-width:$tablet) {
				margin-bottom: 15px;
			}
		}

		img {
			width: rem(24);

			@media (max-width:$tablet) {
				width: rem(20);
			}
		}
	}

	// .hotel__left-advantage-item-text
	&__left-advantage-item-text {
		margin-left: rem(10);
		font-weight: 500;
		@include adaptiveValue("font-size", 15, 14);
		line-height: math.div(18, 15);
	}

	// .hotel__right
	&__right {
		grid-row-start: 1;
		grid-column-start: 2;
		grid-row-end: 2;
		grid-column-end: 3;
		margin-top: 30px;

		@media (max-width:$tablet) {
			margin-bottom: 30px;
		}

		@media (max-width: em(1073)) {
			grid-template-rows: 1fr;
			grid-template-columns: 1fr;
		}

	}
}

// forma ========================================================================================================================================================
.hotelpage {

	// .hotel__right-form
	&__right-form {
		background: #FFFFFF;
		box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		padding: 0px 40px 40px 40px;
		margin: 10px;

		@media (max-width:$tablet) {
			margin: 0;
			padding: 0 20px 20px 20px;
		}
	}

	// .hotel__subtitlepage
	&__subtitlepage {}
}

.form__body {
	border: 1px solid $mainColor;
	border-radius: 5px;
	margin-top: 20px;

	@media (max-width:$tablet) {
		margin-top: 10px;
	}
}

.group {

	// .group__form
	&__form {
		position: relative;
		border-bottom: 1px solid $mainColor;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width:$tablet) {
			flex-wrap: wrap;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	// .group__form-label
	&__form-label {
		padding: 12px 8px;
		flex: 0 0 40%;
		font-weight: 500;
		font-size: 16px;
		line-height: math.div(18, 15);
		border-right: 1px solid $mainColor;

		@media (max-width:$tablet) {
			border-right: none;
			flex: 1 1 100%;
			font-size: 14px;
			font-weight: 600;
			padding: 10px 8px;
		}

		span {
			color: red;
			font-size: 16px;
			font-weight: 600;
		}
	}

	// .group__form-input
	&__form-input {
		border: none;
		padding: 12px 8px;
		font-size: 16px;
		color: $mainColor;

		@media (max-width:$tablet) {
			font-size: 14px;
			padding: 10px 8px;
		}

		&::placeholder {
			color: $mainColor;
		}
	}
}

.hotelpage {

	// .hotel__right-advanteger
	&__right-advanteger {
		margin: 20px 0;
	}

	// .hotel__right-advanteger-item
	&__right-advanteger-item {
		display: flex;
		align-items: center;

		img {
			width: rem(25);
		}

		span {
			margin-left: 10px;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	// .hotel__right-advanteger-text
	&__right-advanteger-text {
		font-weight: 500;
		font-size: 16px;
	}

	&__right {
		&-start {
			margin-top: 20px;
			display: flex;
			align-items: center;
			justify-content: flex-start;

			span {
				color: red;
				margin-right: 10px;
				margin-left: 5px;
			}

			p {
				font-size: 16px;
				color: $mainColor;
				font-weight: 400;
				@include adaptiveValue("font-size", 14, 12);
			}
		}
	}
}


.options {

	// .options__item
	&__item {}

	// .options__input
	&__input {}

	// .options__label
	&__label {}

	// .options__text
	&__text {}
}

.form {}

.group__form {
	.select {
		&__value {
			color: $mainColor;

			&::after {
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 7px solid $mainColor;
			}
		}

		&__title {
			background: transparent;
			padding: 0 8px;
			height: rem(42);
			color: #fff !important;
			box-shadow: none;
		}
	}
}


// галерея ========================================================================================================================================================

.gallery-hotel {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 250px 250px;
	gap: 30px;

	@media (max-width:$tablet) {
		grid-template-columns: 1fr 1fr;
		gap: 15px;
		grid-template-rows: 200px 200px 200px 200px;
	}

	@media (max-width:$mobile) {
		grid-template-columns: 1fr 1fr;
		gap: 15px;
		grid-template-rows: 100px 100px 100px 100px;
	}

}

.gallery__image-hotel {
	width: 100%;
	height: 100%;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.gallery__preview-hotel {
	border-radius: 10px;
	width: 100%;
}

// feedback ========================================================================================================================================================
.feedback {
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 30px;

	// .feedback__container
	&__container {}

	// .feedback__heading
	&__heading {
		display: flex;
		align-items: center;
		margin-bottom: 35px;
	}

	&__title {
		font-weight: 700;
		font-size: 30px;
		@include adaptiveValue("font-size", 30, 26);
		margin-left: 10px;
	}

	// .feedback__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	// .feedback__left
	&__left {
		flex: 0 0 43%;
		margin: 0 0px 45px 0;

		@media (max-width:$tablet) {
			flex: 1 1 auto;
			margin-bottom: 30px;
		}
	}

	// .feedback__left-avatar
	&__left-avatar {
		display: flex;
		align-items: center;
	}

	// .feedback__left-avatar-img
	&__left-avatar-img {
		width: rem(50);
		height: rem(50);
		margin-right: 8px;

		img {
			width: 100%;
		}
	}

	// .feedback__left-avatar-content
	&__left-avatar-content {
		display: flex;
		flex-direction: column;
	}

	// .feedback__left-avatar-name
	&__left-avatar-name {
		font-weight: 700;
		font-size: 15px;
		color: #313131;
		margin-bottom: 3px;
	}

	// .feedback__left-avatar-date
	&__left-avatar-date {
		font-weight: 400;
		font-size: 13px;
		color: #313131;
	}

	// .feedback__left-text
	&__left-text {
		margin-top: 12px;
		font-weight: 400;
		font-size: 14px;
		line-height: math.div(16, 14);
		color: #000000;
	}
}

.hotelpage {

	// .hotelpage__title
	&__title {}
}

.page-title {}

.tableprise {
	margin-bottom: 30px;
}

/* Стили таблицы (IKSWEB) */
table.iksweb {
	text-decoration: none;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

table.iksweb th {
	font-weight: 500;
	font-size: 14px;
	color: #ffffff;
	background-color: #354251;
}

table.iksweb td {
	font-size: 13px;
	color: #354251;
}

table.iksweb td,
table.iksweb th {
	white-space: normal;
	padding: 10px 5px;
	line-height: 20px;
	vertical-align: middle;
	border: 1px solid #354251;
}

table.iksweb tr:hover {
	background-color: #f9fafb
}

table.iksweb tr:hover td {
	color: #354251;
	cursor: default;
}

.mobile-table {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
}